.vs
Archive
GameData/**/*.dll
GameData/**/LICENSE*
GameData/**/NOTICE
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/KNOWN_ISSUES.md
GameData/**/*.version
Source/**/Properties/Version.cs
Source/**/Properties/Configuration.cs
Source/*/*.user
source/**/Properties/Version.cs
source/**/Properties/Configuration.cs
source/*/*.user
bin
obj
packages
